/*
Theme Name:     Midwest Center for Investigative Reporting
Theme URI:      http://largoproject.org
Description:    A child theme for the Midwest Center for Investigative Reporting based on the Project Largo parent theme.
Author:         Adam Schweigert/INN
Author URI:     http://largoproject.org
Template:       largo-dev
Version:        0.1.0
*/

.module.aside {
  border: 1px solid #ccc;
  padding: 0 18px;
}
.module.aside p {
  font-size: 0.815em;
}

@media (max-width: 768px) {
  .module.aside {
    width: 90%;
    padding: 0 5%;
    margin-bottom: 24px;
  }
}